html body {
  width: 100%;
  height: 100%;
}
body {
  /*background-color: black;*/
  padding: 0;
  margin: 0;
}
canvas {
/*  border-width: 1px;
  border-style: solid;*/
  cursor: none;
}

.u_content {
  font-family: indieflower, sans-serif;
  text-align: center;
  padding: 40px;
}

a.button1:hover, a.button1:visited, a.button1:link, a.button1:active
{
    text-decoration: none;
}

@font-face {
  font-family: indieflower;
  src: url(/assets/Indie_Flower/IndieFlower.ttf);
}

.button1 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 12px;
  padding: 10px 20px 10px 15px;
  border: 1px solid rgba(53,172,196,0.47);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: normal 20px/normal indieflower, Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,0.9);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,0.91);
  -webkit-box-shadow: 3px 4px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 3px 4px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.button1:hover {
  border: 1px solid rgba(193,54,163,0.31);
  color: rgba(160,160,160,0.9);
}
.button1:active {
  border: 1px solid rgba(54,193,117,0.47);
  color: rgba(99,99,99,0.9);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2) inset;
}

/*------------------------slider------------------------*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.6px;
  /*cursor: pointer;*/
  box-shadow: 1.5px 1.5px 1.7px #f0a6df, 0px 0px 1.5px #f4bce7;
  background: rgba(37, 231, 246, 0.04);
  border-radius: 25px;
  border: 1px solid rgba(190, 199, 184, 0.62);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3.8px 3.8px 5.8px #91b4ff, 0px 0px 3.8px #abc5ff;
  border: 3.9px solid rgba(115, 203, 234, 0.83);
  height: 22px;
  width: 25px;
  border-radius: 8px;
  background: rgba(253, 67, 122, 0.59);
  /*cursor: pointer;*/
  -webkit-appearance: none;
  margin-top: -7.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(140, 242, 250, 0.04);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.6px;
  /*cursor: pointer;*/
  box-shadow: 1.5px 1.5px 1.7px #f0a6df, 0px 0px 1.5px #f4bce7;
  background: rgba(37, 231, 246, 0.04);
  border-radius: 25px;
  border: 1px solid rgba(190, 199, 184, 0.62);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3.8px 3.8px 5.8px #91b4ff, 0px 0px 3.8px #abc5ff;
  border: 3.9px solid rgba(115, 203, 234, 0.83);
  height: 22px;
  width: 25px;
  border-radius: 8px;
  background: rgba(253, 67, 122, 0.59);
  /*cursor: pointer;*/
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.6px;
  /*cursor: pointer;*/
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(7, 157, 169, 0.04);
  border: 1px solid rgba(190, 199, 184, 0.62);
  border-radius: 50px;
  box-shadow: 1.5px 1.5px 1.7px #f0a6df, 0px 0px 1.5px #f4bce7;
}
input[type=range]::-ms-fill-upper {
  background: rgba(37, 231, 246, 0.04);
  border: 1px solid rgba(190, 199, 184, 0.62);
  border-radius: 50px;
  box-shadow: 1.5px 1.5px 1.7px #f0a6df, 0px 0px 1.5px #f4bce7;
}
input[type=range]::-ms-thumb {
  box-shadow: 3.8px 3.8px 5.8px #91b4ff, 0px 0px 3.8px #abc5ff;
  border: 3.9px solid rgba(115, 203, 234, 0.83);
  height: 22px;
  width: 25px;
  border-radius: 8px;
  background: rgba(253, 67, 122, 0.59);
  /*cursor: pointer;*/
  height: 11.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(37, 231, 246, 0.04);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(140, 242, 250, 0.04);
}
/*-----------------------/slider------------------------*/